@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

html {
    background-color: #06071B
}

#comment_screen_top_navigation_bar{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    /* background-color: aqua; */
}

#logo{
    width: 143px;
    height: 44px;
    /* margin-top: 51px; */
    margin-left: 50px;
}

/* #comment_screen_logo_container{
    background-color: aliceblue;
} */

#comment_screen_hoat_dong{
    color: #FFFFFF;
}

#comment_screen_hoat_dong_container{
    display: flex;
    align-items: center;
}

#time_left{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

#comment_screen_cac_bai_binh_chon_container{
    display: flex;
    align-items: center;
}

#comment_screen_cac_bai_binh_chon{
    color: #FFFFFF;
}

#comment_screen_hoat_dong_cac_bai_binh_chon_container{
    display: flex;
    justify-content: space-between;
    /* background-color: blanchedalmond; */
    /* margin-top: 51px; */
    /* margin-left: 250px; */
    width: 480px;
}

#comment_screen_profile_button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 100px;
    width: 69px;
    height: 25px;
    /* margin-top: 60px; */
    margin-right: 50px;
}

#comment_screen_profile{
    color: #FFFFFF;
    padding: 0px 5px;
}

#archive{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* //////////////////////////////////////////////////////////// */
#comment_screen_header_container{
    display: flex;
    /* align-items: flex-end; */
    /* justify-content: space-between; */
    /* width: 55%; */
    margin-top: 30px;
    /* background-color: aquamarine; */
}

#comment_screen_done_by_number_people_container{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#comment_screen_done_by_number_people_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 1100.5px;
}

#comment_screen_done_by_number_people_image{
    padding-right: 10px;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#comment_screen_done_by_number_people_text{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    padding-right: 10px;
}

#comment_screen_rate_info_container{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
    margin-left: -15%;
}

#comment_screen_name_of_rate_container{
    /* background-color: aquamarine; */
}

#comment_screen_name_of_rate{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

#comment_screen_created_by_name_of_person_container{
    /* background-color: blue; */
}

#comment_screen_created_by_name_of_person_container{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

#comment_screen_rate_container{
    background: linear-gradient(135deg, #FD6585 2.69%, #0D25B9 102.69%);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
}

#comment_screen_name_and_rating_container{
    /* background-color: aquamarine; */
    display: flex;
}

#comment_screen_name_container{
    /* background-color: blueviolet; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment_screen_name_text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

#comment_screen_rating_container{
    /* background-color: #FD6585; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment_screen_rating_text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

#comment_screen_option_1{
    /* background-color: aquamarine; */
    display: flex;
    margin-bottom: 20px;
}

#comment_screen_option_1_name{
    /* background-color: blueviolet; */
    border: 2px solid #04DFB9;
    border-radius: 1100.5px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment_screen_option_1_name_text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

#comment_screen_option_1_comment{
    /* background-color: #c59b08; */
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

#comment_screen_option_2{
    /* background-color: aquamarine; */
    display: flex;
    margin-bottom: 20px;
}

#comment_screen_option_2_name{
    /* background-color: blueviolet; */
    border: 2px solid #04DFB9;
    border-radius: 1100.5px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment_screen_option_2_name_text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

#comment_screen_option_2_comment{
    /* background-color: #c59b08; */
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

#comment_screen_done_container{
    /* background-color: #04DFB9; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment_screen_done_button{   
    background: #04DFB9;
    border-radius: 1100.5px;
    width: fit-content;
    border: none;
    cursor: pointer;
}

#comment_screen_done_text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 20px;
    margin: 0;
}

#comment_screen_option_1_comment_text{
    background: #04DFB9;
    border-radius: 1100.5px;    
    border: none;
    width: 80%;
    font-size: 25px;
}

#comment_screen_option_2_comment_text{
    background: #04DFB9;
    border-radius: 1100.5px;    
    border: none;
    width: 80%;
    font-size: 25px;
}